@import '../../variables';

.content_area{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding-bottom: 60px;
    &>div{
        padding: 0 5px;
    }
    &>.left{
        max-width: 357px;
        flex-basis: 357px;

        @include ipad(){
            flex-basis: 100%;
            max-width: 100%;
        }
    }
    &>.right{
        max-width: calc(100% - 357px);
        flex-basis: calc(100% - 357px);  
        @include ipad(){
            flex-basis: 100%;
            max-width: 100%;
        }      
    }
}