@import '../../variables';

.navbar{
    padding: 0 127px;
    background-color: #070141;

    @include hd(){
        padding: 0 40px;
    }
    @include ipad(){
        padding: 0 20px;
    }
    .nav_wrap{
        padding: .875em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display: flex;
            align-items: center;
            .logo{
                display: block;   
                margin-right: 75px;
                @include hd(){
                    margin-right: 20px;
                }  
                @include mobile(){
                    max-width: 80px;
                }           
            }            
        }
        .right{
            display: flex;
            align-items: center;
            .links{
                display: flex;
                align-items: center;
                &>li{
                    margin-right: 30px;
                    @include ipad(){
                        margin-right: 15px;
                    }
                    // @include mobile(){
                    //     font-size: 12px;
                    // }
                    a{
                        font-size: 1.25rem;
                        color: #fff;
                        font-weight: 600;
                        @include ipad(){
                            width: 50px;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #fff;
                            border-radius: 50%;

                            @include mobile(){
                                width: 23px;
                                height: 23px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .notification{
                margin-left: .9375em;
                margin-right: 1.5625em;
            }
            .user{
                display: flex;
                align-items: center;
                .user_thub{
                    width: 57px;
                    height: 57px;
                    border-radius: 50%;
                    margin-right: .4375em;
                    @include mobile(){
                        width: 30px;
                        height: 30px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .user_txt{
                    color: #fff;
                    .name{
                        font-weight: 600;
                    }
                }
            }
        }
        .search{
                max-width: 521px;
                min-width: 521px;
                height: 50px;
                border-radius: 11px;
                border: 2px solid #FFFFFF;
                position: relative;
                // padding: .5625rem 0;
                padding-left: 55px;  
                
                @include hd(){
                    max-width: 320px;
                    min-width: 320px;
                }
                @include ipad(){
                    max-width: 200px;
                    min-width: 200px;
                    margin-right: 15px;
                }
                @include mobile(){
                    max-width: 108px;
                    min-width: 108px;
                    height: 25px;
                    padding-left: 40px;
                }
                img{
                    position: absolute;
                    left: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    @include mobile(){
                        max-width: 14px;
                    }
                }
                input{
                    width: 100%;
                    height: 100%;
                    color: #fff;   
                    background-color: transparent; 
                    @include mobile(){
                        font-size: 9px;
                    }    
                    &::placeholder{
                        color: #fff;
                        opacity: 0.8;
            
                        @include mobile(){
                            font-size: 9px;
                        }
                    }            
                }
            }
    }
}
.product_feed{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    &>div{
        padding: 0 7px;
        margin-bottom: 14px;
        flex-basis: calc(100% / 4);
        max-width: calc(100% / 4);
        @include hd(){
            flex-basis: calc(100% / 3);
            max-width: calc(100% / 3);             
        }
        @include ipadpro(){
            flex-basis: calc(100% / 2);
            max-width: calc(100% / 2); 
        }        
        @include mobile(){
            flex-basis: 100%;
            max-width: 100%;
        }
        @include mobileLand(){
            flex-basis: calc(100% / 2);
            max-width: calc(100% / 2); 
        }
    }
}