*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: 0;
}
img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    // line-height: 1.67;
    color: #4A4A4A;
}
.container{
    max-width: 1776px;
    margin: 0 auto;
}